.text{
    color: #fff;
    font-size: 28px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.36px;
    display: inline;
    white-space: nowrap;
    margin-left: 3%;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    flex: 1 0 80%;
}
.in{
    display: inline-block;
}
.h{
    display: inline-flex;
    width: 100%;
}
.txt{
    color: #b3b3b3;
    margin-bottom: 7%;
    overflow: hidden;
}
.seeall{
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 0;
    right: 0;
    padding-top: 3%;
}
.testing{
    flex: 1 0 80%;
    overflow: hidden;
}
.catName{
    font-size: 28px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.36px;
    color:#fff;
    cursor: pointer;
    font-family:Helvetica,Arial,sans-serif;
    border-bottom: 1px solid transparent;
}