.full-page{
    background-color:#ffffff;
    width: 100%;
    height: auto;
    border-left: 1px solid rgb(182, 179, 179);
}

h1{
    font-size: 60px; 
    font-weight: 600;
    line-height: normal;
    margin:80px 0px 50px 80px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 30px; 
    font-weight: bold;
    line-height: normal;
    margin:50px 0px 50px 80px;
    font-family: Arial, Helvetica, sans-serif;   
}

h3{
    font-size: 20px; 
    font-weight: bold;
    line-height: normal;
    margin:50px 0px 50px 80px;
    font-family: Arial, Helvetica, sans-serif;   
}

p{
    line-height: 1.6;
    margin:0px 0px 10px 80px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: blue;
    font-weight: bold;
}


a:hover {
    text-decoration: none;
    color: darkblue;
}

ul{
    font-family: Arial, Helvetica, sans-serif; 
    margin:0px 0px 10px 80px;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; 
    counter-reset: li;
    margin:0px 0px 10px 80px;
}

ol li {counter-increment: li;
    line-height: 1.6;
}

ol li::before {
    font-family: Arial, Helvetica, sans-serif;
    content: counter(li) ".";
    color: black;
    font-weight: bold;
    margin-right: 10px;
}