.buttonContainer{
    margin-top: 16px;
    margin-bottom: 30px;
}

.button-scss{
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 500px;
    color: #fff;
    -webkit-transition: all 33ms cubic-bezier(.3,0,0,1);
    transition: all 33ms cubic-bezier(.3,0,0,1);
    will-change: transform;
    white-space: nowrap;
    padding: 8px 34px;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;

}

.b{
    background-color: #1db954;
}

.b:hover{
    color:rgb(29, 235, 101) ;
}

.b:active {
    background-color: rgb(29, 235, 101);
  }

.artist-container{
    background-color:  #121212;
    height: 100%;
    grid-area: main-view;
    width: 100%;
    position: relative;
}
.root {
 
    background-color:  #121212 !important;
    /* position: relative;
    padding-bottom: 75px; */
    margin-bottom: 1000px;
    /* transition: none .5s cubic-bezier(.3,0,.4,1);
    -webkit-transition-property: background;
    transition-property: background; */
    /* min-height: 100vh; */
}

._09de7f5685fbf244f783483fedae7419-scss {
    text-align: left;
}
._70aef60cb99a7cbe780a28b62977a811-scss {
    display: inline-block;
}
._137ec408b14ac4ea5aec6ded3d95f328-scss {
    margin: 0 8px 0 0;
}

.moreButton{
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    height: 48px;
    width: 48px;
    content: "\f12c";
    font-size: 35px;
    position: relative;
    top: 1px;
}

.spoticon-ellipsis-24
{margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

    font-family: glue1-spoticon;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: inherit;
    vertical-align: bottom;
    display: inline-block;
    text-decoration: inherit;
}

.uc{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    position: relative;
    border: 0;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: lowercase;
}



.HeaderStyle {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    
    
    /* content: ""; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:  #121212;
    
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(-30%,transparent),to(#121212));
    background: linear-gradient(transparent -30%,#121212); */
    
}

.contentSpacing {
    /* padding: 0 32px;
    margin: 0;
    max-width: 2200px; */
    max-height: 273px;
    position: relative;
}


.spancontent {
   
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 100px;
    display: block;
    margin-bottom: 1em;
    margin-left: 11px;

}



.ArtistName {
    /* padding-top: 100px; */
    /* font-size: 48px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none; */
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    /* font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif; */
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
}



body{
  height: auto;
  background-color: #121212;
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.bg-1{
    
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    background-color:  #121212;
    background: linear-gradient(to top, #121212,70%, transparent), url("https://i.scdn.co/image/c2fc7bf2aadbcdc07820307800a16d1acd83d057") no-repeat center; 
    color: #ffffff;
    padding-left:24px;
}


.artist-albums, .artist-appears-on, .artist-compilations, .artist-music, .artist-singles {
    /* overflow: hidden; */
    background-color:  #121212;
}

.artist-songs{
    margin-left: 24px;
    margin-right: 24px;
}

.artisit-popular{

    background-color: #121212;
    

}

.song-box{
    width: 100%;
    height: 56px;
    background-color:  #121212;
   
}

.music-icon{
    width: 28px;
    height: 56px;
    margin-left: 14px;
    
}

.song-image{
    width: 56px;
    height: 60px;
    margin-right: 14px;
    padding-bottom: 14px;
}

.song-name{
    width: 900px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff;
}

.song-more-btn{
    font-size: 30px;
    background-color: #121212;
    border:#121212;
    color:white;
    width: 48px;
    height: 48px;
  
    margin-right: 60px;
}
