<div class="artist-container">
    <div class="artist-name">
        <h1 class="e234ba97490a4755608d45716b32a1df-scss" dir="auto">Carly Rae Jepsen</h1>
        <div class="_8da14f699c92e5a11a51da7332811699-scss">
            <button class="_2221af4e93029bedeab751d04fab4b8b-scss _8fec0262e00c11513faad732021ed012-scss" type="button">PLAY</button>
            <button class="_2221af4e93029bedeab751d04fab4b8b-scss _56a12d0978529b654affa11ca9390bd7-scss" type="button">Follow</button>
            <div class="react-contextmenu-wrapper">
                <button type="button" class="a319647e0b4638c35cbe1cc56bbe8710-scss ed0ef3df50c95629ccc919d9d33f2c9c-scss" title="More">
                    <div class="spoticon-ellipsis-24"></div>
                </button>
            </div>
        </div>
        <nav>
            <ul class="_09de7f5685fbf244f783483fedae7419-scss">
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a aria-current="page" class="_137ec408b14ac4ea5aec6ded3d95f328-scss be059487cfa7b71ee0f482c8e5be2b7e-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju">Overview</a>
                </li>
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a class="_137ec408b14ac4ea5aec6ded3d95f328-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju/related">Related Artists</a>
                </li>
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a class="_137ec408b14ac4ea5aec6ded3d95f328-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
