<!-- <head>
    <meta charset="UTF-8"><title>Spotify – Carly Rae Jepsen</title>
    <meta name="description" content="">
    <meta property="google" content="notranslate">
    <meta property="fb:app_id" content="174829003346">
    <meta property="og:title" content="Carly Rae Jepsen">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://open.spotify.com/artist/6sFIWsNpZYqfjUpaCgueju">
    <meta property="og:image" content="https://i.scdn.co/image/cae6fb01fab512f2047d40baffb3f8f561d1567d">
    <meta property="og:type" content="music.musician">
    <meta property="og:site_name" content="Spotify">
    <meta property="al:android:app_name" content="Spotify">
    <meta property="al:android:package" content="com.spotify.music">
    <meta property="al:android:url" content="spotify://artist/6sFIWsNpZYqfjUpaCgueju">
    <meta property="al:ios:app_name" content="Spotify">
    <meta property="al:ios:app_store_id" content="324684580">
    <meta property="al:ios:url" content="spotify://artist/6sFIWsNpZYqfjUpaCgueju">
    <meta property="twitter:site" content="@spotify">
    <meta property="twitter:title" content="Carly Rae Jepsen">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="https://i.scdn.co/image/cae6fb01fab512f2047d40baffb3f8f561d1567d">
    <meta property="twitter:card" content="audio">
    <meta property="twitter:app:id:iphone" content="324684580">
    <meta property="twitter:app:id:googleplay" content="com.spotify.music">
    <meta property="twitter:audio:partner" content="Spotify">
    <meta property="twitter:audio:source" content="https://open.spotify.com/twitter/vmap/artist/6sFIWsNpZYqfjUpaCgueju">
    <meta property="twitter:audio:artist_name" content="">
    <meta property="twitter:player" content="https://open.spotify.com/embed/artist/6sFIWsNpZYqfjUpaCgueju">
    <meta property="twitter:player:width" content="504">
    <meta property="twitter:player:height" content="584">
    <link rel="canonical" href="https://open.spotify.com/artist/6sFIWsNpZYqfjUpaCgueju">
    <link rel="alternate" href="android-app://com.spotify.music/spotify/artist/6sFIWsNpZYqfjUpaCgueju">
    <script async="" src="https://s3.amazonaws.com/ki.js/51746/b0R.js"></script>
    <script async="" src="https://vt.myvisualiq.net/2/afTxMmlGwCNRJiC5Bd75ug%3D%3D/vt-150.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-W53X654&amp;t=gtag_UA_5784146_31&amp;cid=1821987894.1581542362"></script>
    <script async="" src="https://sb.scorecardresearch.com/beacon.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/P6KLRNy7h3K160ZmYNUOAce7/recaptcha__en.js"></script>
    <script type="application/ld+json">{"@context":"http://schema.googleapis.com/","@type":"MusicGroup","@id":"https://open.spotify.com/artist/6sFIWsNpZYqfjUpaCgueju","url":"https://open.spotify.com/artist/6sFIWsNpZYqfjUpaCgueju","name":"Carly Rae Jepsen","description":"","datePublished":null,"potentialAction":{"@type":"ListenAction","target":[{"@type":"EntryPoint","urlTemplate":"https://open.spotify.com/artist/6sFIWsNpZYqfjUpaCgueju","actionPlatform":["http://schema.org/DesktopWebPlatform","http://schema.org/IOSPlatform","http://schema.googleapis.com/GoogleAudioCast","http://schema.googleapis.com/GoogleVideoCast"]},"android-app://com.spotify.music/spotify/artist/6sFIWsNpZYqfjUpaCgueju/play"],"expectsAcceptanceOf":{"@type":"Offer","category":"free","eligibleRegion":[]}}}</script>		<link rel="icon" sizes="32x32" type="image/png" href="https://open.scdn.co/cdn/images/favicon32.a19b4f5b.png">
    <link rel="icon" sizes="16x16" type="image/png" href="https://open.scdn.co/cdn/images/favicon16.19fc3918.png">
    <link rel="icon" href="https://open.scdn.co/cdn/images/favicon.5cb2bd30.ico">		
    <link rel="stylesheet" href="https://open.scdn.co/cdn/build/web-player/web-player.184899d4.css">
    <link rel="manifest" href="https://open.scdn.co/cdn/generated/manifest-web-player.a3df468f.json"><script id="config" data-testid="config" type="application/json">{"clientId":"0971d","accessToken":"BQBLG_ui2A2ntI8BNBQJ45YQr7flQy0O7x2QnG_zqNxvtB2nm3dj2LrQmFhUgpvTX-_qyQZX5SDTNYxC1h0wbHAIgkQcgh_Q_KK-pPP8NN4V74-O1-TGlvuVL6Nmuqrt1tzcXwyyDBb4jbjXe2FZZkYF2j2Elzezg_kvIXTxk3apgibVhHNrUXbi4S0WguLhRjXR4DPoY2jhbkmauOdp_2x3aTPsV9Ro224bkZHH4iH40pksKo_a22nxZBXP8jz9YwuDhEFI0yrq5PstJA0_aqL5aGr_tC1czT5iiNGt95Y8Dv0","accessTokenExpirationTimestampMs":1585577724168,"isAnonymous":false,"app_name":"web_player_prototype","recaptchaWebPlayerFraudSiteKey":"6LcntJ0UAAAAAFSb5F-Lfe5YeOjG5vexXYbUnSbT"}
    </script>
    <script id="baba" type="application/json">[]</script>

<script src="https://open.scdn.co/cdn/js/gtag.cfea467f.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-5784146-31"></script>
    <link rel="preconnect" href="https://api.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://apresolve.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://daily-mix.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://exp.wg.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://gew-dealer.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://gew-spclient.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://i.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://lineup-images.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://mosaic.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://open.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://pixel-static.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://pixel.spotify.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://pl.scdn.co" crossorigin="anonymous">
    <link rel="preconnect" href="https://spclient.wg.spotify.com" crossorigin="anonymous">
    <link rel="preload" href="https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="preload" href="https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Light.afd9ab26.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="https://open.scdn.co/cdn/fonts/spoticon_regular_2.d319d911.woff2" as="font" type="font/woff2" crossorigin="anonymous"><link rel="preconnect" href="https://api.spotify.com">
    <link rel="preconnect" href="https://spclient.wg.spotify.com">
    <link rel="preconnect" href="https://apresolve.spotify.com">
                <style>.grecaptcha-badge { display: none !important;}</style>
<script src="https://www.google.com/recaptcha/api.js?render=6LcntJ0UAAAAAFSb5F-Lfe5YeOjG5vexXYbUnSbT" async="" defer=""></script>
    
    <link rel="search" type="application/opensearchdescription+xml" title="Spotify" href="https://open.scdn.co/cdn/generated/opensearch.7e787b90.xml">
<script charset="utf-8" src="https://open.scdn.co/cdn/build/web-player/workbox-window.76a43f2b.js"></script>
<script src="//www.gstatic.com/cast/sdk/libs/sender/1.0/cast_framework.js"></script>
<script src="chrome-extension://pkedcjkdefgpdelpbcmbmeomcjbeemfm/cast_sender.js"></script>
<script src="//www.gstatic.com/cast/sdk/libs/sender/1.0/cast_framework.js"></script>
<script src="chrome-extension://pkedcjkdefgpdelpbcmbmeomcjbeemfm/cast_sender.js"></script>
<link rel="stylesheet" type="text/css" href="https://open.scdn.co/cdn/build/web-player/xpui-routes.df957b51.css">
<script charset="utf-8" src="https://open.scdn.co/cdn/build/web-player/xpui-routes.df957b51.js"></script>
<script src="//www.gstatic.com/cast/sdk/libs/sender/1.0/cast_framework.js"></script>
<script src="chrome-extension://pkedcjkdefgpdelpbcmbmeomcjbeemfm/cast_sender.js"></script>
<style type="text/css" id="qual_style-r5c"></style>
<style type="text/css" id="qual_style-rvf"></style>
</head> -->



<!-- <div class="Root">
    <div class="artist-name">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <span class="spancontent"> 9,99,565 monthly listeners</span>
        <h1 class="e234ba97490a4755608d45716b32a1df-scss" dir="auto">Carly Rae Jepsen</h1>
        <div class="_8da14f699c92e5a11a51da7332811699-scss">
            <button class="_2221af4e93029bedeab751d04fab4b8b-scss _8fec0262e00c11513faad732021ed012-scss" type="button">PLAY</button>
            <button class="_2221af4e93029bedeab751d04fab4b8b-scss _56a12d0978529b654affa11ca9390bd7-scss" type="button">Follow</button>
            <div class="react-contextmenu-wrapper">
                <button type="button" class="a319647e0b4638c35cbe1cc56bbe8710-scss ed0ef3df50c95629ccc919d9d33f2c9c-scss" title="More">
                    <div class="spoticon-ellipsis-24"></div>
                </button>
            </div>
        </div>
        <nav>
            <ul class="_09de7f5685fbf244f783483fedae7419-scss">
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a aria-current="page" class="_137ec408b14ac4ea5aec6ded3d95f328-scss be059487cfa7b71ee0f482c8e5be2b7e-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju">Overview</a>
                </li>
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a class="_137ec408b14ac4ea5aec6ded3d95f328-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju/related">Related Artists</a>
                </li>
                <li class="_70aef60cb99a7cbe780a28b62977a811-scss">
                    <a class="_137ec408b14ac4ea5aec6ded3d95f328-scss" href="/artist/6sFIWsNpZYqfjUpaCgueju/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div> -->
<!-- 
<div class="Root">

    <head>
        <title>Mayestro-Artist Name</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body >
        <div class="HeaderStyle" style="background-image: url(https://i.scdn.co/image/aa0fdc9…);">
            <div class="contentSpacing">

                <span spancontent> 9,854,235 Monthly Listeners</span>
                <h1 class="ArtistName">Artist Name</h1>
                <div></div>
                <nav></nav>
                <span class="spancontent"> 9,99,565 monthly listeners</span>
                <h1 class="e234ba97490a4755608d45716b32a1df-scss" dir="auto">Carly Rae Jepsen</h1>
                <div class="_8da14f699c92e5a11a51da7332811699-scss">
                <button class="_2221af4e93029bedeab751d04fab4b8b-scss _8fec0262e00c11513faad732021ed012-scss" type="button">PLAY</button>
                <button class="_2221af4e93029bedeab751d04fab4b8b-scss _56a12d0978529b654affa11ca9390bd7-scss" type="button">Follow</button>
                <div class="react-contextmenu-wrapper">
                <button type="button" class="a319647e0b4638c35cbe1cc56bbe8710-scss ed0ef3df50c95629ccc919d9d33f2c9c-scss" title="More">
                    <div class="spoticon-ellipsis-24"></div>
                </button>
            </div>
        </div>

            </div>
        </div >


    </body>
</div> -->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fluid bg-1  " >
            <span class="spancontent" > 9,854,235 Monthly Listeners</span>
            <h1 class="ArtistName" dir="auto">Artist Name</h1>
            <div class="buttonContainer">
                <button class="button-scss b"  type="button">PLAY</button>
                <button class="button-scss" style="background-color: transparent; border: 2px solid #fff;" type="button">Follow</button>
                <div class="react-contextmenu-wrapper" style="    display: inline;">
                    <button type="button" class="a319647e0b4638c35cbe1cc56bbe8710-scss ed0ef3df50c95629ccc919d9d33f2c9c-scss" title="More">
                        <div class="spoticon-ellipsis-24"></div>
                    </button>
                </div>
            </div>
            <nav></nav>
        </div>
    </body>
</html>