<div  style="background-color: white; width: 100%; height: 100%; font-family: Circular, Helvetica, Arial, sans-serif;">
    <div class="headerdiv" >
        <div class="headercontenet">
            <h1 class="k ">Get Premium free for 1 month</h1>
            <h2  style="padding-top: 40px; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 30px;font-weight: bold;">Just EGP 49.99/month after. Cancel anytime.</h2>
            <a routerLink="./../getpremium/monthly">
                <button class="button-scss b"  type="button" > GET PREMIUM</button>
            </a>
            
            <div class="row" style="color: white; padding-top: 40px;"> Terms and conditions apply. 1 month free not available for users who have already tried Premium.</div>
        </div>
      
    </div> 
    <div class="bodyc container" >
        <h1 class="m" style="font-size: 48px; font-weight: bold; " >Why go Premium?</h1>
        <div class="row " style="height: 267px; padding-left: 30px; width: 100%; padding-top: 7%;">

            <div class="col-lg-3 col-md-5 " >
                <img src="https://campaigns.scdn.co/images/benefit_1.png" class="img-responsive margin" style="width: 142px; height: 142px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;" >
                <h3 style="font-size: 21px;font-weight: bold;">Download music.</h3>
                <p style="font-size: 16px;">Listen anywhere.</p>                
            </div>
            <div class="col-lg-3 col-md-5 ">
                <img src="https://campaigns.scdn.co/images/benefit_2.png" class="img-responsive margin" style="width: 142px; height: 142px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;" >
                <h3 style="font-size: 21px;font-weight: bold;">No ad interruptions.</h3>   
                <p style="font-size: 16px;">Enjoy nonstop music.</p>                
            </div>
            <div class="col-lg-3 col-md-5 ">
                <img src="https://campaigns.scdn.co/images/benefit_3.png" class="img-responsive margin" style="width: 142px; height: 142px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;" >
                <h3 style="font-size: 21px;font-weight: bold;">Play any song.</h3>
                <p style="font-size: 16px;">Even on mobile.</p>                
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <img src="https://campaigns.scdn.co/images/benefit_4.png" class="img-responsive margin" style="width: 142px; height: 142px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;" >
                <h3 style="font-size: 21px;font-weight: bold;">Unlimited skips.</h3>
                <p style="font-size: 16px;">Just hit next.</p>                
            </div>

        </div>
       
    </div>  
    <div class="bodyc" style="text-align: left;padding-top: 10%;" >
         
        <div class="card" >
            <h3 style="font-size: 22px;">Spotify Premium</h3>
            <h2 style="font-size: 32px; font-weight: 900;">EGP 49.99 <span style="font-size: 16px; font-weight: 400;"> / month</span> </h2>
            <p style="color: rgb(145, 145, 145); font-size: 12px; margin-top: -12px;">1 month free</p>
            <hr class="divider">
            <dl style="padding: 24px 0px 22px;">
                <dt class="l" style="font-weight:500;">Play any song</dt> 
                <dt class="l" style="font-weight:500;">Listen offline</dt> 
                <dt class="l" style="font-weight:500;">No ad interruptions.</dt> 
                <dt class="l" style="font-weight:500;">Unlimited skips</dt> 
                <dt class="l" style="font-weight:500;">High audio quality</dt> 
            </dl>
            <hr class="divider">
            <a routerLink="./../getpremium/monthly">
            <button class="button-scss b"  type="button" style="width: 100%; margin-top: -1px;"> GET PREMIUM</button>
            </a>
        </div> 
        <div class="text-center" style="margin-top: 40px; cursor: pointer;">
            <a  style="color:rgb(193, 195, 198); ">Terms and conditions</a>   
        </div>
       
    </div> 
</div>