<app-get-premium-header></app-get-premium-header>
<div style="margin-top: 30px; margin-bottom: 100px;">
    <div class="card" >
        <div class="container" style=" display: block; padding: 16px;">
          <p class="card-badge">1-month free trail</p> 
          <h3 style="font-size: 16px;font-weight: 550;">Spotify Premium</h3>
          <h4 style="font-size: 13px; font-weight: 420; margin-top: -14px;">Play any song when you want and without ads, even offline.</h4>
          <h4 style="font-size: 12px; margin-top: -10px; margin-bottom: -5px;">Cancel anytime.</h4>
          <hr class="divider" >
          <div style="width: 100%; ">
            <h2 style="font-size: 15px;display: inline;">49.99 EGP <span>/ month after trial</span></h2>
            <a routerLink="./../getpremium/monthly">
            <button class="button-scss b"  type="button" style="width: 40%;margin-left: 10%; "> GET PREMIUM</button>
            </a>
          </div>  
        </div>
    </div>
    <div class="card" style=" margin-top: 24px;">
        <div class="container" style=" display: block; padding: 16px;">
          <h3 style="font-size: 16px;font-weight: 550;">Spotify Premium Yearly</h3>
          <h4 style="font-size: 13px; font-weight: 420; margin-top: -14px;">One year of Spotify Premium, paid once.</h4>
          <hr class="divider" >
          <div style="width: 100%; ">
            <h2 style="font-size: 16px;display: inline; font-weight: 500;">599.88 EGP</h2>
            <a routerLink="./../getpremium/yearly">
            <button class="button-scss bb"  type="button" style="width: 40%;margin-left: 36%; "> GET PREMIUM</button>
            </a>
          </div>  
        </div>
    </div>
</div>