.card {
    box-shadow: 0px 2px 1px 0px rgba(36, 35, 35, 0.2);
    transition: 0.3s;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;text-align: left; 
  }
  

  .button-scss{
    
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 500px;
    color: #fff;
    /* padding: 10px 10px; */
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 169px;
    height: 33px;
    
}

.b{
    background-color:  rgb(29, 185, 84);;
}

.button-scss:hover{
    background-color:#1ED760;
    color: white;
    /* transform: scale(1.04,1.04); */
    
}

.bb{
    background-color: transparent;
    color: #616161;
    border: 1.5px solid;
}
.bb:hover{
    background-color:  #616161;
    color: white;
}

.card-badge {
    display: inline-block;
    margin-bottom: 12px;
    padding: .3em 0.6em;
    background: #3794D1;
    color: #FFF;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
}