<div class="fixed-top">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-body></app-body>
</div>
<!-- <section class="router" style="background-color: white;">
    <div class="row">
        <!-- <card></card> -->
        <!-- <router-outlet></router-outlet>
        <app-body></app-body> 
        <div class="col-lg-2 col-md-3 col-sm-4" >
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</section> --> -->