<div class="sidebar">
    <div class="head">
        <img src="{{image}}" width="64px" height="50px" class="profile-image">
    </div>
    <ul class="items">
        <li class="item"><a class="link" routerLink="/open.mayestro/overview"><i class="fa fa-home"></i> Account
                Overview</a></li>
        <li class="item"><a class="link" routerLink="/open.mayestro/profile"><i class="fa fa-pencil"></i>Edit
                Profile</a></li>
        <li class="item"><a class="link" routerLink="/account.mayestro/change-password"><i class="fa fa-lock"></i>Change
                Password</a></li>
        <li class="item"><a class="link" routerLink="/open.mayestro/notification"><i class="fa fa-bell"></i>Notification
                Setting</a></li>
    </ul>
</div>