<div class="fullpage">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-7">
            <div class="page">
                <h1 class="header">Change Password</h1>
               <form class="pass-form">
                   <div class="form-group">
                    <label for="oldPassword" class="text">Current Password</label>
                    <input ngModel id="oldPassword"type="text" class="form-control" key>
                   </div>
                   <div class="form-group">
                    <label for="wewPassword" class="text">New Password</label>
                    <input id="newPassword"type="text" class="form-control">
                   </div>
                   <div class="form-group">
                    <label for="RnewPassword" class="text">Repeat New Password</label>
                    <input id="RnewPassword"type="text" class="form-control">
                   </div>
                   <div style="height: 70px; padding-top: 20px; padding-left: 260px;">
                    <button class="cancel-button">CANCEL</button>
                    <button class="save-button" (click)="updatedata()">SET NEW PASSWORD</button>
                    </div>
               </form>
            </div>  
        </div>
    </div>
</div>
