<div class="fullpage">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
         <app-sidebar></app-sidebar>
        </div>
        <div class="col-7">
            <div class="page">
                <h1 class="header">Notification settings </h1>
                <form class="not-form">
                    <table>
                        <tr>
                            <th class="feature"><h2>Spotify Updates</h2></th>
                            <th class="tic" style="color: #757575;"><i class="fa fa-envelope"></i> <br>EMAIL</th>
                            <th class="tic" style="color: #757575;"><i class="fa fa-mobile" style="font-size: 20px;"></i> <br>PUSH</th>
                        </tr>
                        <tr>
                            <td >Product News<br>Getting started, new features and the latest product updates on Spotify</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Spotify News and Offers<br>News, promos and events for you</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><h2>Your Music</h2></td>
                        </tr>
                        <tr>
                            <td >Recommended Music<br>Music we find that we think you’ll like</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>  
                        </tr>
                        <tr>
                            <td >New Music<br>Fresh tracks from artists you follow or might like</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>  
                        </tr>
                        <tr>
                            <td >Playlist Updates<br>A playlist you follow is updated</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>  
                        </tr>
                        <tr>
                            <td >Concert Notifications<br>Updates about live shows by artists you like, in places near you</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>  
                        </tr>
                        <tr>
                            <td >Artist Updates<br>Hear about artists you listen to and artists we think you’ll like</td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td class="tic">
                                <label class="container">
                                    <input type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </td>  
                        </tr>
                    </table>
                    <div style="height: 70px; padding-top: 20px; padding-left: 260px;">
                        <button class="cancel-button">cancel</button>
                        <button class="save-button">save</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>