.home{
}
.player{
    width:100%;
    display: flex;
    line-height: 1.5;
    box-sizing: inherit;
    position: fixed;
    padding: 0;
    margin:0;
    border: 0;
    right:0;
    left:0;
    bottom: 0;
    flex-direction: row;
    height: 15%;
    

}
.router{
    height: 573px;
    margin-top: 56px;
}
.side{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    width: 18%;
    height:85% ;
    top:0;
    left:0;
    right:0;
    position: fixed;
    min-height: 85%;
}

.flexnav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(0,0,0,.8);
}

.bla{
    font-family: Verdana,sans-serif;
line-height: 1.5;
color: #000!important;
box-sizing: inherit;
opacity: 0.60;
font-size: 12px!important;
text-align: center!important;
}