
.player{
    z-index: 3;
    width:100%;
    display: flex;
    line-height: 1.5;
    box-sizing: inherit;
    position: fixed;
    padding: 0;
    margin:0;
    border: 0;
    right:0;
    left:0;
    bottom: 0;
    flex-direction: row;
    height: 75px;   

}
.test{
    background-color: rgb(18, 18, 18);
    /* margin-bottom: 0;
    padding-bottom: 0; */
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.router{
    background-color: rgb(18, 18, 18);
    z-index: -1;
    max-width: 85%;
    width: 100%;
    margin: 0;
    /* height: 650px; */
    padding-top: 60px; 
    margin-left: 228px;
    padding-left: 18px;
    overflow: hidden;
    /* margin-bottom: 10%; */
}


.side{
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    width: 230px;
    height:100% ;
    top:0;
    left:0;
    right:0;
    position: fixed;
    min-height: 85%;
}
.headd{
    background-color: rgb(18, 18, 18);
    z-index: 1;
    top: 0;
    width: 100%;
    margin-left: 230px;
    height: 60px;
}
.flexnav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(0,0,0,.8);
}


.bla{
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    color: #000!important;
    box-sizing: inherit;
    opacity: 0.60;
    font-size: 12px!important;
    text-align: center!important;
}