

<div class="main-view" >
    <div class ="row">
        <div clas="col-6">
            <div class="playlist-content" >
                <img style="height: 237px; width: 207px;" src={{imageURL}}>
                <h2 style="color: white; text-align: center;" >{{title}}</h2>
                
                <div>

               <a class="nav-link"  style="color: rgb(245, 245, 245);" href="#">{{artist}}</a> 
                
                </div>
                
                <button class="play-button"  type="button" >Play</button> 
                <br>
                <button class="like-button"  ><i (click)="like()" [style.-webkit-text-fill-color]="isLiked ? 'rgb(18,18,18)' : 'rgb(25, 206, 88)' " [style.color]="isLiked ? 'white' : 'rgb(25, 206, 88)' " class="fa fa-heart"></i></button>
                <button class="more-button" type="button">...</button>
                <p style="text-align: center; color: white">{{date}} </p>
            </div>
        
        </div>
        <div class="col-6">
            <app-track></app-track>
            <div style="height: 75px;"></div>
        </div>
    </div>
</div>



