<div class="main-view" >
    <div class="playlist-Content" >
        
        <header class="top-bar">
            <button class="arrow-button" type="button"><</button>
        </header>
        <div class="playlist-header">
        <img src="https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2/image-size/original?v=mpbl-1&px=-1">
        <h2 style="color: white;">Album</h2>
        <div>
        <p style="color: white;">By</p><a class="nav-link" href="#">Artist</a> 
        
        </div>
        
        <button class="play-button" type="button">Play</button> 
        <br>
        <button class="like-button" ><i class="fa fa-heart"></i></button>
        <button class="more-button" type="button">...</button>
        <p>date </p>
        </div>
        <div class="playlist" >
            <table class="table table-hover" >
                <tr>
                    <td >link</td>
                    <td >link</td>
                    <td >link</td>
                </tr>
            </table>
        </div>
    </div>
</div>