<div class="m-2 row">
  <div class="pad col-2">
    <a class="card podcast" >
      <div class="teet2">
        <h4 class="text-center title">Podcasts</h4>
        <img class="card-img-top" src="https://t.scdn.co/images/ad4d5c268a214f78920517e76e6ed107.jpeg" class="img">
      </div>
    </a>
  </div>

  <div class="pad col-2">
    <a class="card teet" >
      <div class="teet2">
        <h4 class="text-center title">Made For You</h4>
        <img class="card-img-top" src="https://t.scdn.co/images/68433b0ee5b5465b8e926c42b84cbcdb.jpeg" class="img">
      </div>
    </a>
  </div>
    
    <div class="pad col-2">
      <a class="card charts" >
        <div class="teet2">
          <h4 class="text-center title">Charts</h4>
          <img class="card-img-top" src="https://t.scdn.co/images/4b7472015a274eadbc00119f5141e548.jpeg" class="img">
        </div>
      </a>
    </div>

    <div class="pad col-2">
      <a class="card teet" >
        <div class="teet2">
          <h4 class="text-center title">New Releases</h4>
          <img class="card-img-top" src="https://t.scdn.co/images/acc7b5d7b1264d0593ec05c020d0a689.jpeg" class="img">
        </div>
      </a>
    </div>

    <div class="pad col-2">
      <a class="card discover" >
        <div class="teet2">
          <h4 class="text-center title">Discover</h4>
          <img class="card-img-top" src="https://t.scdn.co/images/d0fb2ab104dc4846bdc56d72b0b0d785.jpeg" class="img">
        </div>
      </a>
    </div>
</div>

  




