<!-- <p>card works!</p> -->
<div class="p-2">
  <div class="card card-deck" >
    <a href="/mayestro/playlist">
    <img class="card-img-top" src="https://i.scdn.co/image/ab67706f000000022996a2205776213536c3df03" alt="Card image">
    </a>
    <div class="card-body p-0 pt-2">
      <h4 class="card-title   mb-1">John Doe</h4>
      <p class="card-text"> text. John Doe is an architect and engineer</p>
      <button class="stretch-link rounded-circle btn btn-success">play</button>
    </div>
  </div>
</div>