<div class="m-auto text-center w-75">
    <h1 class="m-4">Reset password</h1>
    <mat-form-field class="w-100 my-4">
        <mat-label>New password</mat-label>
        <input matInput required maxlength="128" minlength="8" type="password" ngModel #password="ngModel">
        <mat-error *ngIf="password.errors">
            <span *ngIf="password.errors.required">Enter a password to continue.</span>
            <span *ngIf="password.errors.minlength">Your password is too short.</span>
            <span *ngIf="password.errors.maxlength">Your password is too long.</span>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="w-100">
        <mat-label [ngClass]="{'err':repeatPassword.value!==password.value&&repeatPassword.touched }">Repeat new
            password
        </mat-label>
        <input matInput type="text" required maxlength="128" minlength="8" type="password" ngModel
            #repeatPassword="ngModel">
        <mat-error *ngIf="repeatPassword.errors">
            <span *ngIf="repeatPassword.errors.required">Enter a password to continue.</span>
            <span *ngIf="repeatPassword.errors.minlength">Your password is too short.</span>
            <span *ngIf="repeatPassword.errors.maxlength">Your password is too long.</span>
        </mat-error>
        <div class="mat-error mat-form-field mat-form-field-subscript-wrapper mt-4"
            *ngIf="repeatPassword.touched && !repeatPassword.errors && repeatPassword.value!==password.value">
            password doesn't match.
        </div>

    </mat-form-field>
    <button (click)='send(password,repeatPassword)' [disabled]='disabled(password,repeatPassword)'
        class="my-4 custom-btn btn btn-green text-white w-25">Send</button>
</div>