<div class="row premium " style="color: black;" > 
    <div class="col-1"></div>
    <div class="col-10" style="padding-bottom: 70px; padding-top: 50px; height: 40%;">
        <h1 style="font-size: 80px; font-weight: bold; padding-bottom: 20px;">Get 3 months of Premium for</h1>
        <h1 style="font-size: 80px; font-weight: bold; padding-left: 400px;">free</h1>
    </div>
    <div>
        <h2 class="heading">Enjoy endless ad-free music - even offline.</h2>
        <div style="padding-left: 400px;">   
            <button class="prem-button">GET PREMIUM</button>
            <button class="more-button">LEARN MORE</button>
        </div>
        <p style="font-size:16px; padding-left:200px;">Monthly subscription fee applies after. Offer not available to users who already tried Premium.
           <u><a style="color: black;">Terms and conditions apply.</a></u> <!--href="https://www.spotify.com/eg-en/legal/premium-promotional-offer-terms/"-->
        </p>
    </div>
</div>
<div style="height: 60%; background-color:white;">
    <div  class="listen"> 
        <h2 style="font-size:45px; 
        margin-top: 60px; font-weight:bold;">Looking for music?</h2>
        <p  style="font-size:18px; margin-top: 30px;">Start listening to the best new releases.</p>
        <a routerLink="/mayestro/home"><button class="launch-button">LAUNCH WEB PLAYER</button></a> 
    </div>
    <div class="row">
         <ul  style="list-style-type: none; width: 30%;">
             <li style="margin-bottom: 20%;" *ngFor="let song of cards |slice:0:2"> <a [routerLink]="['/mayestro/playlist',song.id,song.type]"> <img style="height: 340px; width: 340px;" src={{song.image}}></a></li>
         </ul>
         <ul  style="list-style-type: none; width: 30%;">
            <li style="margin-bottom: 20%;" *ngFor="let song of cards |slice:2:4"> <a [routerLink]="['/mayestro/playlist',song.id,song.type]"> <img style="height: 340px; width: 340px;" src={{song.image}}></a></li>
        </ul>
        <ul style="list-style-type: none; width: 30%;">
            <li style="margin-bottom: 20%;" *ngFor="let song of cards |slice:4:6"> <a [routerLink]="['/mayestro/playlist',song.id,song.type]"> <img style="height: 340px; width: 340px;" src={{song.image}}></a></li>
        </ul>
    </div>

    
</div>
