nav{
    /* position: fixed; */
    /* width: 82%; */
    background-color: rgb(18,18,18);
    box-sizing: border-box;
    top:0;
    right:0;
    color: #b3b3b3;
    margin: 0px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    grid-area: main-view;
    z-index: 2;
    display: inline-flex;
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
}

.navright {
  float: right;
}

.backicon {
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: inline-flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  opacity: 0.6;
  margin-right: 16px;
  height: 32px;
  width: 32px;
  pointer-events: auto;
  line-height: 20px;
  -webkit-box-align: center;
  margin-top: 12px;
  margin-left: 16px;
}

.backicon1 {
  opacity: 1;
}

.upgradeButton {
  --glue-font-weight-normal: 400;
  --glue-font-weight-bold: 700;
  --glue-font-weight-black: 900;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, Helvetica,
    Arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.76px;
  text-transform: uppercase;
  border-radius: 500px;
  color: #fff;
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
  will-change: transform;
  padding: 8px 34px;
  /* display: inline-block; */
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 2px solid #fff;
  white-space: nowrap;
  pointer-events: auto;
  margin-left: 500px;
  margin-top: 9px;
  justify-content: end;
  margin-right: 10px;
  position: relative;
  float: right;
  justify-content: end;
}

.floatingRight {
  float: right;
}

.nav-item-right {
  float: right;
}

.dropmenu {
  --glue-font-weight-normal: 400;
  --glue-font-weight-bold: 700;
  --glue-font-weight-black: 900;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, Helvetica,
    Arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  vertical-align: baseline;
  white-space: nowrap;
  pointer-events: auto;
  border-radius: 23px;
  height: 32px;
  min-width: 32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  color: #fff;
  padding: 4px;
  margin-left: 10px;
  margin-top: 10px;
}

.usericon {
  padding: 5px;
}
.usericon-up {
  --glue-font-weight-normal: 400;
  --glue-font-weight-bold: 700;
  --glue-font-weight-black: 900;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  pointer-events: auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  /* font-weight: var(--glue-font-weight-normal);
    text-transform: none;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif; */
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  margin-left: 8px;
  margin-right: 4px;
}


 .navsize{
     background-color: black;
     opacity: 0;
     width: 100%;
     

     --glue-font-weight-normal: 400;
--glue-font-weight-bold: 700;
--glue-font-weight-black: 900;
font-size: 14px;
line-height: 20px;
letter-spacing: .015em;
font-weight: var(--glue-font-weight-normal);
color: #b3b3b3;
text-transform: none;
font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
padding-top: 24px;
-webkit-box-orient: vertical;
flex-direction: column;
-webkit-box-flex: 1;
flex: 1;
min-height: 0;
user-select: none;
cursor: default;
display: flex;
-webkit-box-direction: normal;
 }

a{
    color: white;
    text-align: center;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
margin-top: 10px;

}
     

.library{
  margin-right: 590px;
}
