.cont {
  margin: auto;
  width: 60%;
  background-color: white;
}
label {
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
}

.img {
  height: 200px;
}
.no-img {
  background-color: rgba(128, 128, 128, 0.356);
  height: 100%;
}

.btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 500px;
}

.album-songs {
  padding: 10px;
  min-height: 50px;
  border: black solid 1px;
  font-size: 14px;
}

option,
select {
  font-size: 20px;
}
