<nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand" [routerLink]="['artist']">Mayestro For Artist</a>

    <ul class="navbar-nav m-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['artist']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['new-song']">New Song</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['new-album']">New Album</a>
        </li>
    </ul>
</nav>