.top{
    flex: 1 0 80%;
    overflow: hidden;
    color: #fff;
    font-size: 28px;
    text-overflow: ellipsis;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.36px;
}
.top-text{
    overflow: hidden;
    color: #fff;
    font-size: 28px;
    text-overflow: ellipsis;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.36px;
    white-space: nowrap;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.resultcard{
    display: flex;
    flex: 1;
    height: 233px;
    background-color: #282828;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    isolation: isolate;
    text-decoration: none;
}
.topimage{
    width: 24%;
    height: 42%;
    padding: 10%;
    margin: 3%;
    border-radius: 50%;
    position: relative;
    display: block;
}
.img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.name{
    /* min-height: 62px; */
    text-align: left;
    position: relative;
    padding-left: 3%;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -.36px;
    /* padding-bottom: 2px; */
    color: #fff;
    overflow: hidden;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
.type{
    padding-left: 4%;
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b3b3b3;
    margin-top: 4px;
    white-space: normal;
    overflow: hidden;
}

.type2{
    vertical-align: middle;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .6px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    display: inline-block;
    padding-left: 3%;
    padding: 4px 12px;
    border-radius: 500px;
    

}