<nav class="navbar top   navbar-expand">
  <div class="collapse navbar-collapse">
<div class="container">
  <div class="d-flex flex-row bd-highlight mb-list library">
    <div class="p-2 bd-highlight">
      <a class="nav-link" routerLink='./../open.mayestro/premium'>Premium</a>
    </div>

    <div class="p-2 bd-highlight">
      <a class="nav-link" routerLink=''>Help</a>
    </div>

    <div class="p-2 bd-highlight album">
      <a class="nav-link" routerLink=''>Download</a>
    </div>

  </div>
</div>
</div>
</nav>