<div class="section1">
    <h1 class="text1">Click the install file to finish up.</h1>
    <img src="https://www-growth.scdn.co/static/download/laptop.svg" alt="" class=" computer">
    <!-- <button class="sign">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    </button> -->
    <p class="try">If your download didn't start,
        <a href="https://download.scdn.co/SpotifySetup.exe" class="ref">
            try again
        </a>.
        <br>Having issues?
        <a class="ref" href="ms-windows-store://pdp/?ProductId=9ncbcszsjrsb&amp;cid=spotifyweb-windows10-store-feb18">
            Visit the Microsoft Store</a>
        to download.
    </p>
</div>
<div class="section2">
    <div class="listen">
        <h2 style="font-size:3vw; 
        margin-top: 60px; font-weight:600;">Bring your music to mobile and tablet, too.</h2>
        <p style="font-size:18px; margin-top: 30px;">Listening on your phone or tablet is free, easy, and fun.</p>
        <div>
            <a data-ga-action="click" data-ga-category="download_badge" data-ga-label="apple"
                href="https://itunes.apple.com/app/spotify-music/id324684580" rel="noopener" target="_blank"
                class="AppStoreLink">
                <img src="https://www-growth.scdn.co/static/badges/apple/en.png" alt="Download on the App Store"></a><a
                data-ga-action="click" href="https://play.google.com/store/apps/details?id=com.spotify.music"
                class="AppStoreLink"><img src="https://www-growth.scdn.co/static/badges/google/en.png"
                    alt="Get it on Google Play"></a><a data-ga-action="click" data-ga-category="download_badge"
                data-ga-label="windows"
                href="https://www.microsoft.com/store/p/spotify-music/9ncbcszsjrsb?cid=spotifyweb-windows10-store-direct"
                rel="noopener" target="_blank" class="AppStoreLink"><img
                    src="https://www-growth.scdn.co/static/badges/microsoft-windows/en.png" alt="Get it from Microsoft">
            </a>
        </div>
    </div>
</div>
<div class="section3">
    <img class="device" src="https://www-growth.scdn.co/static/download/all-devices.svg" alt="devices">
    <h2 style="font-size:3vw; 
            margin-top: 60px; font-weight:600; margin-left: 10%;">One account, listen everywhere.</h2>
    <ul class="list">
        <li class="items">MOBILE </li>
        <li class="dot"> . </li>
        <li class="items">COMPUTER </li>
        <li class="dot"> . </li>
        <li class="items">TABLET </li>
        <li class="dot"> . </li>
        <li class="items">CAR </li>
        <li class="dot"> . </li>
        <a href="/playstation/" class="items">
            PLAYSTATION<sup>®</sup></a>
        <li class="dot"> . </li>
        <a href="/xbox/" class="items">XBOX</a>
        <li class="dot"> . </li>
        <a href="/tv/" class="items">TV</a>
        <li class="dot"> . </li>
        <a href="/speakers/" class="items">SPEAKER</a>
        <li class="dot"> . </li>
        <a href="/redirect/webplayerlink/" class="items">WEB PLAYER</a>
    </ul>
</div>