<div style=" margin-bottom: 32px;">
    <app-artist-header></app-artist-header>
    <div style="background-color: #121212;">
        <div class="row px-4">
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card ></app-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card></app-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card></app-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card></app-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card></app-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-card></app-card></div>
        </div>
    </div>
</div>

