.flexnav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgba(0,0,0,.8);
    height: 750px;
}

.brand{
    font-size: 30px;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: .21px;
    line-height: 20px;
    font-family: Arial;
    padding: 30px;
}

.n-list{
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: .21px;
    line-height: 20px;
    text-align: left;
    color: #b3b3b3;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    vertical-align: baseline;
    list-style: none;
    margin-left: 0px;
    padding-top:5px;
    padding-bottom: 5px;
}

.playlist{
    letter-spacing: 1.76px;
    line-height: 16px;
    font-size: 11px;
    font-weight: 400;
    color: #b3b3b3;
    margin-top: 20px;
}
.divider{
    border-bottom-color: rgb(40,40,40);
    border-bottom-width: 1px;
    border-bottom-style: inset;
    --glue-font-weight-normal: 400;
   --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    /* color: #b3b3b3; */
    text-transform: none;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    cursor: default;
    /* --left-sidebar-item-height: 32px;
    --left-sidebar-padding-left: 0px;
    --left-sidebar-padding-right: 0px;
    --left-sidebar-item-pill-horizontal-padding: 2px;
    --left-sidebar-item-indentation-width: 30px;
    --left-sidebar-edit-input-height: 26px; */
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 8px var(--left-sidebar-padding-right) 8px var(--left-sidebar-padding-left);
    /* border-color: #282828; */
}



