.main-view {
  /* position: relative; */
  right: 20px;
  /* width: 1302px; */
  background: repeat-x scroll center top rgb(18, 18, 18);
  min-height: 1000px;
}
.playlist-content {
  padding: 20px 25px 0px 50px;
  outline: 0;
}

.play-button {
  position: relative;
  left: 60px;
  background: #1db954;
  padding: 8px 34px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  border: #343a40;
  font: arial;
  outline: 0;
}

.play-button:hover {
  background: rgb(25, 206, 88);
  padding: 9px 36px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  border: rgb(25, 206, 88);
  font: arial;
  outline: 0;
}
.like-button {
  position: relative;
  left: 60px;
  font-size: 20px;
  background-color: rgb(18, 18, 18);
  border: rgb(18, 18, 18);
  width: 48px;
  height: 48px;
  outline: 0;
}
i {
  -webkit-text-stroke-width: 1px;
}

.more-button {
  position: relative;
  left: 60px;
  font-size: 30px;
  background-color: rgb(18, 18, 18);
  border: rgb(18, 18, 18);
  color: white;
  width: 48px;
  height: 48px;
  line-height: 48px;
  outline: 0;
}

.nav-link {
  position: relative;
  bottom: 30px;
  left: 60px;
  width: 20px;
}
