<div class="fullpage">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-7">
            <div class="page">
                <h1 class="header">Set device password </h1>
                <p style="font-size:16px; padding-top: 20px; padding-left: 10px;">To use Spotify on your devices, you need to set a separate password and log in with the username provided.</p>
               <div class="content">
                   <p style="color: black; font-size: 16px;">Your device username is:{{Username}}</p> 
                   <button class="send-button">SEND EMAIL TO SET PASSWORD</button>
               </div> 
            </div>  
        </div>
    </div>
</div>