.full-page{
    background-color:#ffffff;
    width: 100%;
    height: auto;
    border-left: 1px solid rgb(182, 179, 179);
}
h1{
    font-size: 50px; 
    font-weight: 500;
    line-height: normal;
    margin:80px 0px 50px 80px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px 0px 10px 116px;
}
ol{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; 
    counter-reset: li;
    margin:0px 0px 10px 80px;
}

ol li {
    counter-increment: li;
    line-height: 1.6;
}

ol li::before {
    font-family: Arial, Helvetica, sans-serif;
    content: counter(li) ".";
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

button{
    background-color:#ffffff;
    border:none;
    margin:0px 0px 0px 80px;  
    border-top: 1px solid rgb(182, 179, 179);
    width: 100%;
    text-align: left;
    padding: 30px;
    color: blue;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: blue;
    font-weight: bold;
}


a:hover {
    text-decoration: none;
    color: darkblue;
}
  
h2{
    font-size: 30px; 
    font-weight: 500;
    line-height: normal;
    margin:50px 0px 20px 80px;   
}

.p{
    line-height: 1.6;
    margin:0px 0px 10px 80px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.6;
    margin:0px 0px 10px 116px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;  
}

i{
    float:right;
    font-size: 12px;
}