<div style="padding-bottom: 32px;">
    <div class="text-center" style="padding: 32px;">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Avatar" class="avatar">
        <h1 style="padding-top: 32px; color: white; font-size: 36px;  font-weight: bold; ">User Name</h1>
    </div>
    <div style="padding-bottom: 32px;">
        <div class="row px-4">
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
            <div class="col-lg-2 col-md-3 col-sm-4"><app-home-artist-card></app-home-artist-card></div>
        </div>
    </div>
</div>