.bg-1{
    
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    background-color:  #121212;
    background: linear-gradient(to top, #121212,70%, transparent), url("https://i.scdn.co/image/c2fc7bf2aadbcdc07820307800a16d1acd83d057") no-repeat center; 
    color: #ffffff;
    padding-left:24px;
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

.spancontent {
   
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 100px;
    display: block;
    margin-bottom: 1em;
    margin-left: 11px;

}

.ArtistName {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
}


.buttonContainer{
    margin-top: 16px;
    margin-bottom: 30px;
}

.button-scss{
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 500px;
    color: #fff;
    -webkit-transition: all 33ms cubic-bezier(.3,0,0,1);
    transition: all 33ms cubic-bezier(.3,0,0,1);
    will-change: transform;
    white-space: nowrap;
    padding: 8px 34px;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.b{
    background-color: #1fa14d;
}

.button-scss:hover{
    background-color:rgb(29, 235, 101) ;
    color: white;
    transform: scale(1.05,1.05);
    
}
/* .button-scss :hover{

    transform: scale(1.1,1.1);   
} */

.b:active {
    background-color: rgb(29, 235, 101);
  }

.artist-container{
    background-color:  #121212;
    height: 100%;
    grid-area: main-view;
    width: 100%;
    position: relative;
}

.moreButton{
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    height: 48px;
    width: 48px;
    content: "\f12c";
    font-size: 35px;
    position: relative;
    top: 1px;
}

.uc{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    position: relative;
    border: 0;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: lowercase;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.moreButton:hover .dropdown-content {
display: inline;
background-color: #3e8e41;
}

/* .moreButton:hover  {
background-color: #3e8e41;
} */