<nav class="navbar  flex-column flexnav ">
    <div class="navbar-brand text-white font-weight-bold brand">
        Maestro
    </div>
    <ul class="navbar-nav">
        <li class="nav-link n-list">
            <a class="nav-link text-white" routerLink="/mayestro/home">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        <li class="nav-link n-list">
            <a class="nav-link text-white" routerLink="/mayestro/search">
                <i class="fa fa-search"></i>
                Search
            </a>
        </li>
        <li class="nav-link n-list">
            <a class="nav-link text-white" routerLink='yourlibrary/playlists'>
                <i class="fa fa-film"></i>
                Your Library
            </a>
        </li>
        <li class="nav-item playlist">
            PLAYLISTS
        </li>
        <li class="nav-link n-list">
            <a class="nav-link text-white" routerLink="/mayestro/home">
                <i class="fa fa-plus-square"></i>
                Create PlayList
            </a>
        </li>
        <li class="nav-link n-list">
            <a class="nav-link text-white" routerLink="/mayestro/home">
                <i class="fa fa-heart"></i>
                Liked Songs
            </a>
        </li>
        <hr class="divider">
    </ul>
</nav>