<nav class="navbar navbar-light " style="background: #161616;">
    <span class="navbar-brand mb-0 h1" style="color:white; font-size: 20px; font-family: cursive ;">Mayestro For Artists</span>
</nav>
<div class="span12">
    <div class="container-fluid bg-1" 
    *ngIf= "artistInfo" [ngStyle] ="{'background':' linear-gradient(to top, #121212,70%, transparent),url('+ artistInfo.img +') no-repeat center'}" >
 
    <span class="spancontent" >449,856  Monthly Listeners</span>
    <h1 class="ArtistName"   >{{artistInfo.name}}</h1>
    </div>
</div>

