.navbar{
    background-color: black;
}

.bg-1{
    
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    background-color:  #121212;
    /* background: linear-gradient(to top, #121212,70%, transparent),  url("https://i.scdn.co/image/c2fc7bf2aadbcdc07820307800a16d1acd83d057") no-repeat center;  */
    color: #ffffff;
    padding-left:24px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.spancontent {
   
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    opacity: .6;
    padding-top: 80px;
    display: block;
    margin-bottom: 1em;
    margin-left: 11px;

}

.ArtistName {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 3px;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
}
