.addartisticon{
    padding: 40px;
    margin-top: 90px;
    margin-left: 400px;
    color:black;

   }
   h1.artist{
       text-align: center;
       height: 90px;
       width: 100;
      
       color:black;
       position: right;
       top: -100px;
       font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
   }
   p.artisttext{
       margin-top:-50px;
       text-align:center;
       color:black;
       font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
   }
    .btn{
        --glue-font-weight-normal: 400;
        --glue-font-weight-bold: 700;
        --glue-font-weight-black: 900;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 1.76px;
        text-transform: uppercase;
        border-radius: 500px;
        color: black;
        transition: all 33ms cubic-bezier(.3,0,0,1);
        will-change: transform;
        padding: 8px 30px;
        /* display: inline-block; */
        cursor: pointer;
        text-align: center;
        background-color: transparent;
        border: 2px solid black;
        white-space: nowrap;
        pointer-events: auto;
        margin-left:50px;
        margin-top: 9px;
        justify-content: end;
        margin-right: 10px;
        position: relative;
        float: right;
        justify-content: end;
        right: 470px;
    
   
    }
