<div class="row m-0">
    <h2>Recommended radio</h2>
</div>
<div class="row m-0">
    <p>Non-stop music based on your favorite songs and artists.</p>
</div>
<div class="row px-4">
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4">
        <app-card></app-card>
    </div>
</div>