
.card-container{
    padding-left: 8px;
    padding-right: 8px;
    width: 206px;
    height: 241px;
    display: inline-block;
}

.card-body{
    height: 51px;

}

  .album-name{
    /* padding-top: 12px; */
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .015em;
    color: #fff;
    text-transform: none;
    text-align: center;
    
  }

 .btn{
    visibility: hidden;
    color: white;
    transform: translate(30px, -190px);
    background: transparent;
    font-size: 80px;
    border: none;
    
}
.card-container:hover .btn{
    visibility: visible;  
}