<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div id="lday" class="chart"></div>
        </div>
        <div class="col-4">
            <div id="lmonth" class="chart"></div>
        </div>
        <div class="col-4">
            <div id="lyear" class="chart"></div>
        </div>
        <div class="col-4">
            <div id="kday" class="chart"></div>
        </div>
        <div class="col-4">
            <div id="kmonth" class="chart"></div>
        </div>
        <div class="col-4">
            <div id="kyear" class="chart"></div>
        </div>
    </div>
</div>