<div class="m-auto text-center w-75">
    <h1 class="m-4">Change your pssword</h1>
    <div *ngIf='message' class="p-2"
        [ngClass]="{'alert alert-danger bg-danger':!messageStatus,'alert alert-success bg-success':messageStatus}">
        <p class="col-12 mb-0 text-white">{{message}}</p>
    </div>
    <mat-form-field class="w-100 mt-4">
        <mat-label>Current password</mat-label>
        <input matInput type="password" required maxlength="128" minlength="8" ngModel #current='ngModel'>
        <mat-error *ngIf='current.errors'>
            <div *ngIf='current.errors.required'>current password is required</div>
            <div *ngIf='current.errors.minlength'>current password is too short</div>
            <div *ngIf='current.errors.maxlength'>current password is too long</div>
        </mat-error>
    </mat-form-field>


    <mat-form-field class="w-100 my-4">
        <mat-label>New password</mat-label>
        <input matInput type="password" required maxlength="128" minlength="8" ngModel #new='ngModel'>
        <mat-error *ngIf='new.errors'>
            <div *ngIf='new.errors.required'>new password is required</div>
            <div *ngIf='new.errors.minlength'>new password is too short</div>
            <div *ngIf='new.errors.maxlength'>new password is too long</div>
        </mat-error>
    </mat-form-field>


    <mat-form-field class="w-100">
        <mat-label [ngClass]="{'err':repeat.value!==new.value&&repeat.touched }">Repeat new password</mat-label>
        <input matInput type="password" required maxlength="128" minlength="8" ngModel #repeat='ngModel'>
        <mat-error *ngIf='repeat.errors'>
            <div *ngIf='repeat.errors.required'>repeat password is required</div>
            <div *ngIf='repeat.errors.minlength'>repeat password is too short</div>
            <div *ngIf='repeat.errors.maxlength'>repeat password is too long</div>
        </mat-error>
        <div class="mat-error mat-form-field mat-form-field-subscript-wrapper mt-4"
            *ngIf="repeat.touched && !repeat.errors && repeat.value!=new.value">
            password doesn't match.
        </div>
    </mat-form-field>


    <button class="my-4 custom-btn btn btn-sm btn-outline-dark float-left">Back to home</button>
    <button [disabled]='invalid(current,new,repeat)' (click)="submit(current.value,new.value,repeat.value)"
        class="my-4 custom-btn btn btn-sm btn-green text-white float-right">Set
        new
        password</button>
</div>