h1 {
  font-size: 48px;
  font-weight: 900;
}
.custom-btn {
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  min-width: 160px;
  padding: 16px 14px 18px;
  border-radius: 500px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-green {
  background-color: #1db954;
  letter-spacing: 3px;
}
.btn-green:hover {
  background-color: #1ed760;
}
.err {
  color: #f44336;
}
