
.addmusicicon{
 padding: 30px;
 margin-top: 120px;
 margin-left: 400px;
 color:black;
position: relative;
overflow: hidden;
text-overflow: fade(10px);
}
h1.firstplaylist{
    text-align: center;
    height: 100px;
    width: 100;
    padding: 1px;
    color: black;
    position: right;
    top: -100px;
    overflow: hidden;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
p.text{
    overflow: hidden;
    text-align:center;
    color:black;
    margin-top:-20px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
 .btn{
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border-radius: 500px;
    color: black;
    transition: all 33ms cubic-bezier(.3,0,0,1);
    will-change: transform;
    padding: 8px 30px;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    white-space: nowrap;
    pointer-events: auto;
    margin-left:50px;
    margin-top: 9px;
    justify-content: end;
    margin-right: 10px;
    position: relative;
    float: right;
    justify-content: end;
    right: 410px;
    outline:none;

 } 
.btn1{
   background-color:#1DB954;
   color:white;
   border-color:#1DB954;
   outline:none;
   margin-left:200px;
margin-right: -200px;   
margin-top: 20px;
}
.btn2{
    margin-left:200px;
    margin-right: -30px;
    margin-top: 20px;
}
::-webkit-input-placeholder { /* Edge */
    color: gray;
    size: 50px;
    font-weight: 900;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
  }

.modall{
width: 1000px;
    background-color:transparent;
    color: slategray;
}
.play{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    color:black;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
font-size: 50px; 
margin-left: 90px;
font-weight: 900;
font-style: normal;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
 }
 .modal-footer{
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;

 }