
.addmusicicon{
 padding: 30px;
 margin-top: 120px;
 margin-left: 400px;
 color:black;
position: relative;
overflow: hidden;
text-overflow: fade(10px);
}
h1.firstplaylist{
    text-align: center;
    height: 100px;
    width: 100;
    padding: 1px;
    color: black;
    position: right;
    top: -100px;
    overflow: hidden;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
p.text{
    overflow: hidden;
    text-align:center;
    color:black;
    margin-top:-20px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}
 .btn{
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border-radius: 500px;
    color: black;
    transition: all 33ms cubic-bezier(.3,0,0,1);
    will-change: transform;
    padding: 8px 30px;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    white-space: nowrap;
    pointer-events: auto;
    margin-left:50px;
    margin-top: 9px;
    justify-content: end;
    margin-right: 10px;
    position: relative;
    float: right;
    justify-content: end;
    right: 410px;


 } 
