<div class="container bg-white h-100">
  <div class="addmusicicon">
    <svg width="51" height="52" viewBox="0 0 51 52" xmlns="http://www.w3.org/2000/svg">
      <title>Add Playlist Icon</title>
      <path
        d="M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10c0-5.524-4.477-10-10-10zm7 11h-6v6H9v-6H3V9h6V3h2v6h6v2zm7.75-3.655c.118.653.188 1.32.217 2L49 4.234v27.03c-1.65-2.044-4.174-3.356-7-3.356-4.962 0-9 4.037-9 9 0 4.962 4.038 9 9 9s9-4.038 9-9V1.764l-26.25 5.58zM42 43.91c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm-25-6.556C15.348 35.31 12.826 34 10 34c-4.963 0-9 4.037-9 9 0 4.96 4.037 9 9 9s9-4.04 9-9V21.97c-.632.476-1.296.912-2 1.285v14.097zM10 50c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7c0 3.858-3.14 7-7 7z"
        fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  </div>
  <h1 class="firstplaylist">Create Your first playlist</h1>
  <p class="text">We’ll help you make the perfect mixtape, minus the tape.</p>
  <!-- Button to Open the Modal -->
  <div class="modall">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Create new Playlist
    </button>


    <!-- The Modal -->
    <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="myModal">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">




          <!-- Modal body -->
          <div class="modal-body">
            <h1 class="modal-title play">Create new playlist</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p>Playlist Name</p>
            <input (keyup.enter)="createPost(title)" #title class="form-control form-control-lg" type="text"
              placeholder="New Playlist" value="">
            <button type="button" class="btn btn-secondary btn1" data-dismiss="modal" disabled>Create</button>
            <button type="button" class="btn btn-secondary btn2" data-dismiss="modal">Cancel</button>

          </div>



        </div>
      </div>
    </div>
  </div>
</div>