<section>
   <div>
        <div class="songs">
        <a href="#" class ="top-text">Songs</a>
    </div>
    <a class="s seeall">See All</a>
    </div>
    <div class="h">
        <div   class="song-box">
            <div class="hooverbox">
                <img src="https://i.scdn.co/image/ab67616d0000b273f2248cf6dad1d6c062587249" class="song-image">
                <div class="general">
                    <a class="name">Natural</a>
                    <span class="arName">
                        <a class="artistname">Imagine Dragons</a>
                    </span>
                </div>
            </div>
        </div>
    
        <div   class="song-box">
            <div class="hooverbox">
                <img src="https://i.scdn.co/image/ab67616d0000b273f2248cf6dad1d6c062587249" class="song-image">
                <div class="general">
                    <a class="name">Natural</a>
                    <span class="arName">
                        <a class="artistname">Imagine Dragons</a>
                    </span>
                </div>
            </div>
        </div>
    
    
        <div   class="song-box">
            <div class="hooverbox">
                <img src="https://i.scdn.co/image/ab67616d0000b273f2248cf6dad1d6c062587249" class="song-image">
                <div class="general">
                    <a class="name">Natural</a>
                    <span class="arName">
                        <a class="artistname">Imagine Dragons</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</section>