<div class="m-auto text-center w-75">
    <h1 class="m-4">Password Reset</h1>
    <div *ngIf='!reset;else sended'>
        <h4 class="my-5">
            Enter your <b>Spotify username</b>, or the
            <b>email address</b> that you used to register. We'll send you an email with your
            username and a link to reset your password.
        </h4>

        <mat-form-field class="w-75">
            <mat-label>Email address or Username</mat-label>
            <input matInput type="text" [(ngModel)]='Email' name="email" #email="ngModel" required>
            <mat-error *ngIf="email.errors">
                <span *ngIf="email.errors.required">Please enter your email.</span>
            </mat-error>
        </mat-form-field>
        <button class="my-4 custom-btn btn btn-green text-white w-25">Send</button>
        <h4>
            If you still need help, contact <a target="_blank"
                href="https://support.spotify.com/eg-en/contact-spotify-anonymous/">Spotify
                Support</a>.
        </h4>
    </div>
    <ng-template #sended>
        <h4>
            A message has been sent to you by email with instructions on how to reset your password.
        </h4>
    </ng-template>
</div>